@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieFolk"
               class="list-group-item">Eddie Bender - Indie Folk</a>
                   <p class="list-group-item">
                       as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
                   </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieRock"
               class="list-group-item">Lilly Schott - Indie Rock</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Pop"
               class="list-group-item">Kerry Healey - Pop</a>
               <p class="list-group-item">
                       as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
                   </p>
         </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Rap"
               class="list-group-item">Anand Pandey - Rap</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
         </div>
         <div class="list-group">
            <a asp-controller="Home" asp-action="Techno"
               class="list-group-item">Pranav Mahajan - Techno</a>
            <p class="list-group-item">
                Hello world! My name is Pranav Mahajan and I am a 4th year majoring in Cybersecurity and Software development. My research interests range from cybersecurity attack vectors to building web applications and just love technology overall. Looking forward to learn new things from this class!
            </p>

        </div>
    </div>
</div>
