@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieFolk"
               class="list-group-item">Eddie Bender - Indie Folk</a>
                   <p class="list-group-item">
                       as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
                   </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieRock"
               class="list-group-item">Lilly Schott - Indie Rock</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Pop"
               class="list-group-item">Kerry Healey - Pop</a>
               <p class="list-group-item">
                       as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
                   </p>
         </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Rap"
               class="list-group-item">Anand Pandey - Rap</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
         </div>
         <div class="list-group">
            <a asp-controller="Home" asp-action="Techno"
               class="list-group-item">Pranav Mahajan - Hip Hop</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>

        </div>
    </div>
</div>
