@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group" style="margin-bottom:15px">
            <a asp-controller="Home" asp-action="IndieFolk"
               class="list-group-item">Eddie Bender - Indie Folk</a>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/home/eddiepfp.png" alt="Image of Eddie" class="img-fluid img-thumbnail"/>
                    </div>
                    <div class="col-sm-9">
                        <p class="list-group-item">
                        I am a fourth-year Information Technology student with a specialization in Software Development. I am from Cincinnati, OH, and have lived here my entire life. Despite living here my whole life, I would like to travel the country/world after graduating before starting the next chapter of my life. I love playing video games, cooking, singing, and hiking. On campus, I am a UC Choruses member and the social chair.
                        <br />Indie Folk has been my favorite genre of music for many years, and it stems from my love of nature and Autumn. When listening to Indie Folk, I often feel like I’m walking through a forest. There is a slight nip in the air, and I can only hear the crunch of the leaves under my feet. This feeling is very comforting for me.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="list-group" style="margin-bottom:15px">
            <a asp-controller="Home" asp-action="IndieRock"
               class="list-group-item">Lilly Schott - Indie Rock</a>
             <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/home/lillypfpxsmall.png" alt="Image of Lilly" class="img-fluid img-thumbnail" />
                    </div>
                    <div class="col-sm-9">
                        <p>
                            Hi! My name is Lilly and I’m in my 4th year at UC. My major is in
                            Information Technology with a track in software development. My expected 
                            gradution is in Spring of 2024. Outside of school, I love to read, do outdoor activities
                            (like kayaking, nature walks etc.), and play video games.
                            <br/>
                            I've been into Indie Rock for a long time, from my emo days in middle 
                            school to my now more pop-rock tastes. I love Indie Rock because it's so 
                            versatile, I really think there's something for everyone!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group" style="margin-bottom:15px">
            <a asp-controller="Home" asp-action="Pop"
               class="list-group-item">Kerry Healey - Pop</a>
               <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="~/images/home/kerrypfpxsmall.png" alt="Image of Kerry" class="img-fluid img-thumbnail" />
                    </div>
                    <div class="col-sm-9">
                        <p>
                            Hi! My name is Kerry and I’m in my 4th year at UC. My undergraduate major is in
                            Information Technology with concentration tracks in software development and cybersecurity. 
                            My graduate major is in Business Administration. My expected graduation date for both degrees is Spring 2024.
                            Outside of college, I love to stay active and go to coffee shops and vintage stores.
                        </p>
                    </div>
                </div>
            </div>
         </div>

        <div class="list-group" style="margin-bottom:15px">
            <a asp-controller="Home" asp-action="Rap"
               class="list-group-item">Anand Pandey - Rap</a>
             <div class="list-group-item">
                   <div class="row">
                        <div class="col-sm-2">
                            <img src="~/images/home/Anand.jpg" alt="Picture of Anand" class="img-fluid img-thumbnail" />
                        </div>
                        <div class="col-sm-9">
                            <p class="center">
                                Yo! My name is Anand Pandey. I am a 4th year student taking the software development track
                                with a secondary track of Data Technologies. My graduate track is MSIT, with graduation of both expeceted in 2024.
                                Outside of school I play handball and racquetball recreationally. I occacionslly watch gaming streams and follow politics(twitter drama be real).

                            </p>
                        </div>
                    </div>
                </div>
         </div>

         <div class="list-group">
            <a asp-controller="Home" asp-action="Techno"
               class="list-group-item">Pranav Mahajan - Techno</a>
            <p class="list-group-item">
                Hello world! My name is Pranav Mahajan and I am a 4th year majoring
                in Cybersecurity and Software development. My research interests range
                from cybersecurity attack vectors to building web applications and just
                love technology overall. Looking forward to learn new things from this class!
            </p>

        </div>
    </div>
</div>
