@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieFolk"
               class="list-group-item">Eddie Bender - Indie Folk</a>
                   <p class="list-group-item">
                I am a fourth-year Information Technology student with a specialization in Software Development. I am from Cincinnati, OH, and have lived here my entire life. Despite living here my whole life, I would like to travel the country/world after graduating before starting the next chapter of my life. I love playing video games, cooking, singing, and hiking. On campus, I am a UC Choruses member and the social chair.
                <br />Indie Folk has been my favorite genre of music for many years, and it stems from my love of nature and Autumn. When listening to Indie Folk, I often feel like I’m walking through a forest. There is a slight nip in the air, and I can only hear the crunch of the leaves under my feet. This feeling is very comforting for me.
                   </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="IndieRock"
               class="list-group-item">Lilly Schott - Indie Rock</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
        </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Pop"
               class="list-group-item">Kerry Healey - Pop</a>
               <p class="list-group-item">
                       as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
                   </p>
         </div>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Rap"
               class="list-group-item">Anand Pandey - Rap</a>
            <p class="list-group-item">
                as;kdlhgqosiegh[osdga[osdkfn[oiehqw[oi]]]]
            </p>
         </div>
         <div class="list-group">
            <a asp-controller="Home" asp-action="Techno"
               class="list-group-item">Pranav Mahajan - Techno</a>
            <p class="list-group-item">
                Hello world! My name is Pranav Mahajan and I am a 4th year majoring in Cybersecurity and Software development. My research interests range from cybersecurity attack vectors to building web applications and just love technology overall. Looking forward to learn new things from this class!
            </p>

        </div>
    </div>
</div>
