@{
    ViewData["Title"] = "Indie Rock";
}

<h1>Indie Rock</h1>
<hr>

<p> Indie rock can be a bit hard to define because it’s a rather broad genre.
    Indie rock developed from the desire to be independent, unconventional, 
    and to deviate from the mainstream. Some sub-genres and derivative forms 
    of indie rock with similar feels include emo, grunge, lo-fi, noise pop,
    and post-punk/rock. </p>

<h4> History</h4>
<p> Indie rock began as a subgenre of rock music in the 1970s. 
    Originally used to describe independent record labels, the term “Indie” 
    became associated with the music produced by those labels and was initially 
    used interchangeably with alternative rock (“alternative” being a 
    counter-cultural term describing music outside the mainstream) 
    (Wikimedia, 2022). However, In the 1980s, the use of the term “indie” 
    started to shift from its reference to recording labels to describing 
    the style of the music itself, largely produced on punk and post-punk 
    labels (Wikimedia, 2022). Some notable indie rock bands from this time 
    include R.E.M., The Smiths, and the Pixies. </p>

<p> During the 1990s, alternative grunge bands like Nirvana, Pearl Jam, 
    and Alice in Chains started to break into the mainstream. As a result, 
    the term “alternative” sort of lost its original counter-cultural meaning. 
    The term “indie rock” then became associated with the bands and genres 
    that remained dedicated to their independent status (Wikimedia, 2022). 
    Then, in the 2000s, the growing importance of the internet enabled a new 
    wave of indie rock bands to reach mainstream success, which some argued 
    lessened the meaningfulness of the term “indie” (Wikimedia, 2022). </p>

<p> Since the 2000s, the internet has continued to expand, and thus so has 
    the influence of indie rock. Indie rock has developed its own recognizable
    aesthetic and sounds, characterized as having a balance of experimentation
    with pop, sensitive lyrics masked by ironic posturing, and a concern
    with authenticity (Wikimedia, 2022). </p>

<h4>Modern Indie</h4>
<p> Although indie bands have now become more mainstream and their music is 
    often distributed by major corporate companies, many indie rock labels and
    the bands they host attempt to retain their autonomy, leaving them free to
    explore sounds, emotions, and subjects that don’t cater mainstream audiences
    (Wikimedia, 2022). </p>

<p> Most of the indie rock I listen to is more modern – from the 2000s onward. 
    Back in my middle school/high school days I was super into the emo music of 
    the mid-late 2000s. Bands like My Chemical Romance, Paramore, Fall Out Boy, 
    and Panic! At the Disco dominated my playlists. While I still have a soft 
    spot for that edgier sound, the music I mostly listen to now is softer indie 
    pop/rock. Some of my current top artists include City and Colour, Peach Pit, 
    and Beach Bunny. I also love the evolved Paramore. They started out as a more 
    emo band, and now they produce some really cool pop rock. </p>

<div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img src="~/images/indierock/afterlaughter.jpg" alt="Paramore After Laughter album cover" class="img-fluid img-thumbnail" />
                <figcaption> Paramore, <i> After Laughter </i> (2017) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/indierock/beingsonormal.jpg" alt="Peach Pit Being So Normal album cover" class="img-fluid img-thumbnail" />
                <figcaption> Peach Pit, <i> Being So Normal </i> (2017) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/indierock/pillforloneliness.jpg" alt="City and Colour A Pill For Loneliness album cover" class="img-fluid img-thumbnail" />
                <figcaption style="padding:1px"> City and Colour, <i> A Pill for Loneliness </i> (2019) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/indierock/honeymoon.jpg" alt="Beach Bunny Honeymoon album cover" class="img-fluid img-thumbnail" />
                <figcaption> Beach Bunny, <i> Honeymoon </i> (2020) </figcaption>
            </figure>
        </div>
    </div>
</div>

<p> You could define what songs are indie rock based on what Spotify tells you,
    but personally I like to go on vibes. To me, indie rock is melodic/echo-y guitars,
    understated vocals, and metaphoric lyrics. In today’s music, rock is often combined
    with other genres and sounds such as pop, folk, and electronic. Because of this,
    it can be difficult to say that any one song is solely indie rock. In the end,
    you get the most out of music when you don’t stay within the boundaries of a single
    genre and just explore what sounds you like! </p>

<br />
<h4>References</h4>
<p> Wikimedia Foundation. (2022). Indie rock. Wikipedia. Retrieved from <a href="https://en.wikipedia.org/wiki/Indie_rock" target="_blank"> https: //en.wikipedia.org/wiki/Indie_rock </a>.</p>
