@{
    ViewData["Title"] = "Indie Folk";
}

<h1>Indie Folk</h1>
<hr>

<h4>Introduction</h4>
<p>
    Indie Folk music is described as a combination of indie or independent music,
    which means it was created without the assistance of a record label. 
    Folk music is defined by its storytelling aspect, often of the middle to lower classes. 
    These stories talk about their lives or describe stories they've heard from others.
</p>

<h4> Characteristics of Indie Folk Music</h4>
<p>
    The main characteristics of Indie Folk music are derived from the Folk music portion of the genre. 
    Folk music typically has a straightforward melody, and uncomplicated instrumentation since the genre
    focuses on the love of music production. The sway of folk and country music is ingrained in indie folk music. 
    The musical composition usually includes a four-instrument combination of lead guitar, rhythm guitar, 
    bass guitar, and drums, with everyone besides the lead singer harmonizing. The simple messages within 
    most Indie Folk songs are wanderlust, romanticizing relationships, and a melancholy worldview.
    Other characteristics of indie folk include:
    <ul>•   Understated vocals.</ul>
    <ul>•	A somber or reflective feel.</ul>
    <ul>•	Loose musical structure.</ul>
    <ul>•	Do-it-yourself production.</ul>
</p>

<h4>History of Indie Folk Music</h4>
<p>
    Indie folk became an official genre in the 1990s, and indie rock musicians pioneered indie folk's creation. 
    Artists such as Ani DiFranco and Dan Bern were indie rock artists who had songs with indie folk vibes. 
    Other artists in the following decade had songs that helped solidify the genre. 
    Fleet Foxes broke into the pop charts with their album Helplessness Blues. 
    Artists such as Mumford & Sons and Ben Howard emerged in the United Kingdom and quickly gained an audience.
</p>

<div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img src="~/images/indiefolk/Cleopatra.png" alt="Cleopatra albumn cover" class="img-fluid img-thumbnail" />
                <figcaption> The Lumineers, <i> Cleoparta </i> (2016) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/indiefolk/Babel.png" alt="Babel album cover" class="img-fluid img-thumbnail" />
                <figcaption> Mumford and Sons, <i> Babel </i> (2012) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/indiefolk/FleetFoxes.png" alt="Fleet Foxes album cover" class="img-fluid img-thumbnail" />
                <figcaption style="padding:1px"> Fleet Foxes, <i> Fleet Foxes </i> (2008) </figcaption>
            </figure>
        </div>
    </div>
</div>

<br />
<h4>References</h4>
<p> Wikimedia Foundation. (2022). Indie rock. Wikipedia. Retrieved from <a href="https://en.wikipedia.org/wiki/Indie_folk" target="_blank"> https: //en.wikipedia.org/wiki/Indie_folk </a>.</p>
<p> What is Indie Folk Music? With 9 Top Examples & History Retrieved from <a href="https://www.musicindustryhowto.com/what-is-indie-folk-music/" target="_blank"> https://www.musicindustryhowto.com/what-is-indie-folk-music/ </a>.</p>
