@{
    ViewData["Title"] = "Pop Music";
}

<div class="text-center">
    <h1 class="display-4">Pop Music</h1>
    <p>The definition of pop music is always changing. In its application, 
        pop music is a version of popular music that runs the highest hits. 
        Pop is basically a form of contemporary music that distinguishes itself 
        from folk, art, and classical styles of music. Some elements that 
        distinct pop music include a repetitive structure, simple melodies, and 
        danceable rhythm. </p>
    <p>Pop music as a genre originally comes from the phrase “popular music” for 
        its light and upbeat sound. “Pop song” was first used in 1926 to distinguish 
        between music that was aimed at people with little musical culture and were 
        not into cult music, such as classical music with requires advanced structural 
        and theoretical considerations. </p>
    <p>Pop is one of the few genres of music that can come in multiple variants based 
        on their location and application. These types include adult contemporary pop, 
        orchestral pop, Christian pop, Arabic pop, Latin pop, Baroque, dance-pop, Mexican 
        pop, K-pop, and pop-rap. Pop music’s umbrella of variations is always growing and 
        never ending.</p>
    <p>Over the decades, pop music has dynamic incorporation of a wide range of musical 
        instruments, and pop has not been no exception. Some common instruments include 
        electric keyboards, electric pianos, electronic organs, cymbals, guitars (electric, 
        acoustic, and bass), and drums. Occasionally, orchestral string and wind 
        instruments will be featured in various versions of pop music, but they are not 
        necessary.</p>

    <h2>Popular Pop Artists</h2>
    <ul>
        <li>Elvis Presley</li>
        <li>Michael Jackson</li>
        <li>Prince</li>
        <li>Madonna</li>
        <li>Beyoncé</li>
        <li>Taylor Swift</li>
        <li>Elton John</li>
        <li>ABBA</li>
        <li>Mariah Carey</li>
        <li>Shakira</li>
        <li>Adele</li>
        <li>Ariana Grande</li>
    </ul>
    <h2>Recent Pop Albums</h2>
    <ul>
        <li>Taylor Swift: Midnights</li>
        <li>Harry Styles: Harry's House</li>
        <li>Beyoncé: Renaissance</li>
        <li>Lizzo: Special</li>
    </ul>
    <caption>Sources</caption>
    <caption>https://study.com/academy/lesson/history-of-pop-music-facts-timeline.html, https://www.listadiscoteca.net/en/history-of-pop-music/</caption>
</div>
