@{
    ViewData["Title"] = "Pop Music";
}

    <h1 class="display-4">Pop Music</h1>
    <hr class="break" />

    <h4>History</h4>
    <p>The definition of pop music is always changing. In its application, 
        pop music is a version of popular music that runs the highest hits. 
        Pop is basically a form of contemporary music that distinguishes itself 
        from folk, art, and classical styles of music. Some elements that 
        distinct pop music include a repetitive structure, simple melodies, and 
        danceable rhythm. </p>
    <p>Pop music as a genre originally comes from the phrase “popular music” for 
        its light and upbeat sound. “Pop song” was first used in 1926 to distinguish 
        between music that was aimed at people with little musical culture and were 
        not into cult music, such as classical music with requires advanced structural 
        and theoretical considerations. </p>
    <p>Pop is one of the few genres of music that can come in multiple variants based 
        on their location and application. These types include adult contemporary pop, 
        orchestral pop, Christian pop, Arabic pop, Latin pop, Baroque, dance-pop, Mexican 
        pop, K-pop, and pop-rap. Pop music’s umbrella of variations is always growing and 
        never ending.</p>
    <p>Over the decades, pop music has dynamic incorporation of a wide range of musical 
        instruments, and pop has not been no exception. Some common instruments include 
        electric keyboards, electric pianos, electronic organs, cymbals, guitars (electric, 
        acoustic, and bass), and drums. Occasionally, orchestral string and wind 
        instruments will be featured in various versions of pop music, but they are not 
        necessary.</p>

    <h4>Modern Pop</h4>
    <p>Since pop is usually associated with popular music, most of the pop music I listen to 
        is recent pop music releases. Sometimes I go back and listen to older releases, from
        the early 90s or 2000s, but most of what makes pop music is what is currently being played
        on radios and streamed through services like Apple Music and Spotify. Recently, I've been an 
        huge fan of Taylor Swift with her new releases and re-recordings, and Harry Style's solo albums.
        Both have been the artists I gravitate to the most, and take up most of the music I listen to. But 
        I can't say that other artists like Beyoncé and BLACKPINK, don't slip in.
    </p>

<h4>Pop Albums</h4>
    <div class="container">
    <div class="row">
        <div class="col">
            <figure>
                <img src="~/images/pop/midnights.jpg" alt="Taylor Swift Midnights album cover" class="img-fluid img-thumbnail" />
                <figcaption> Taylor Swift <i> Midnights </i> (2022) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/pop/harryshouse.jpg" alt="Harry Styles Harry's House album cover" class="img-fluid img-thumbnail" />
                <figcaption> Harry Styles <i> Harry's House </i> (2022) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/pop/lemonade.jpg" alt="Beyoncé Lemonade album cover" class="img-fluid img-thumbnail" />
                <figcaption> Beyoncé <i> Lemonade </i> (2016) </figcaption>
            </figure>
        </div>

        <div class="col">
            <figure>
                <img src="~/images/pop/blackpink.jpg" alt="BLACKPINK Born Pink album cover" class="img-fluid img-thumbnail" />
                <figcaption> BLACKPINK <i> Born Pink </i> (2007) </figcaption>
            </figure>
        </div>
    </div>
</div>
    <h4>References</h4>
    <caption>https://study.com/academy/lesson/history-of-pop-music-facts-timeline.html, https://www.listadiscoteca.net/en/history-of-pop-music/</caption>
