@{
    ViewData["Title"] = "Rap";
}

<div class="container">
    <div class="jumbotron">

        <h1>@ViewData["Title"]</h1>

               <hr class="break" />

        <div class="row">
            <div class="col-sm-9">

                <p>Lorem ipsum text here</p>
                <br />
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada vel lectus at euismod. Nunc elit diam,
                    scelerisque nec libero eu, pellentesque iaculis lectus. In eu lacinia est. Fusce suscipit id quam non lacinia. Nam ut varius est, 
                    ac interdum velit. Vivamus sit amet ligula arcu. Praesent lorem orci, aliquam non sollicitudin id, accumsan at arcu. 
                    Nulla facilisi. Sed arcu ipsum, sagittis id gravida sed, porttitor quis lectus. Maecenas vel fermentum leo, pharetra convallis 
                    felis. In tristique justo in ex maximus, eget placerat nunc fringilla. Proin sed enim consequat, viverra magna id, sodales quam. </p>


                <h1></h1>
            </div>

             <div class="col-sm-3">

                <p>Trending Artists</p>
                <br />
                <br />

            </div>

        </div>
        <hr class="break" />
        <div class="row align-self-center">
           <p>This is a new row more info here</p>

                           <p> Sed nec blandit lacus, at venenatis dui. In ac turpis elementum, pulvinar nulla in, pulvinar metus. 
                    Pellentesque fermentum ultricies ex sit amet venenatis. Cras dignissim mattis est, sed dignissim nisl consectetur eget.
                    Ut consectetur, massa id pulvinar condimentum, urna nulla rhoncus turpis, a cursus lacus lectus ac purus. 
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Cras sed lectus a quam porttitor pulvinar quis vitae augue. Nulla ac pharetra turpis. </p>
        </div>


    </div>



</div>
