@model SongViewModel

<h1> Form pgae Good luck to whoever wants to fill this out</h1>

<form asp-action="Edit" method="post">

  <div class="form-group">
    <label asp-for="selectedSong.Title">Song Title</label>
        <input type="text" class="form-control" placeholder="Enter Title" asp-for="selectedSong.Title">
  </div>

  <div class="form-group">
        <label asp-for="selectedSong.Artist">Artists</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Artists" asp-for="selectedSong.Artist">
  </div>

    <div class="form-group">
        <label asp-for="selectedSong.GenreId">Genre</label>
        <select asp-for="selectedSong.GenreId" id="GenreId">
            @foreach(Genre g in Model.Genres)
            {
                <option value="@g.GenreId">@g.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="selectedSong.SongId" />
    <input type="submit" value="Submit" class="btn btn-secondary">

 
</form>

