@model SongViewModel

<h1> Form pgae Good luck to whoever wants to fill this out</h1>

<form asp-action="Edit" method="post">

  <div class="form-group">
    <label for="formGroupExampleInput">Song Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Title" name="title">
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Artists</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Artists" name="artist">
  </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Genre</label>
        <select name="genre" id="GenreId">
            @foreach(Genre g in Model.Genres)
            {
                <option value="@g.GenreId">@g.Name</option>
            }
        </select>
    </div>

    <input type="submit" value="Submit" class="btn btn-secondary">

 
</form>

