@model SongViewModel

@section scripts{
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1> Add a Song </h1>

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="selectedSong.Title">Song Title</label>
            <input type="text" class="form-control" placeholder="Enter Title" asp-for="selectedSong.Title">
        </div>

        <div class="form-group">
            <label asp-for="selectedSong.Artist">Artists</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Artists" asp-for="selectedSong.Artist">
        </div>

        <div class="form-group">
            <label asp-for="selectedSong.GenreId">Genre</label>
            <select asp-for="selectedSong.GenreId" id="GenreId" class="form-control">
                <option value="">Select a genre</option>
            @foreach (Genre g in Model.Genres)
            {
                <option value="@g.GenreId">@g.Name</option>
            }
        </select>
        </div>

        <input type="hidden" asp-for="selectedSong.SongId" />

        <input type="submit" value="Submit" class="btn btn-primary">
        <a asp-controller="Song" asp-action="Index" class="btn btn-secondary">Cancel</a>

    </form>

