@{
    ViewData["Title"] = "Our Favorite Songs";
}

<h1> Our Favorite Songs </h1>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>